# Fuctions

In [ ]:
# maximum of three numbers

a, b, c = 64, 73, 55

if (a > b):
  if (a > c):
    max = a
  else:
    max = c
else:
  if (b > c):
    max = b
  else:
    max = c

print('maximum =', max)

# note how many times we are comparing two numbers..

maximum = 73

In [ ]:
# maximum of two numbers using function

def max(a, b):
  '''Returns maximum among a and b'''
  if a > b:
    return a
  else:
    return b

In [ ]:
a, b, c, d, e = 64, 73, 55, 431, 54

m = max(a, b)
m = max(m, c)
m = max(m, d)
m = max(m, e)

print('maximum =', m)

maximum = 431

In [ ]:
'''Write a function to calculate minimum among two integers
  and use it to find minimum amoung 3 integers'''

In [ ]:
# function call is an expression.

print(max(5, 3))

5

In [ ]:
# print maximum of three numbers (10, 45, 2) using a single statement
def max3 (a, b, c):
    ''' Compute max of 3 numbers using max of two numbers'''
    return (max(a, max(b, c)))

print(max3(10, 45, 2))

45

In [ ]:
# method to print name of the user or initials

def printName(firstName, lastName, initials):
  if initials: #'' 
    print(firstName[0] + '.' + lastName[0] + '.')
  else:
    print(firstName, lastName)

In [ ]:
'''
write code to use this function.
'''
printName('Karkare', True, '')

Karkare True

In [ ]:
# note that the printName() method has thee parameters

# lets pass only two arguments
printName('Sachin', 'Tendulkar')

TypeError: ignored

In [ ]:
# we can set a default value for parameter.
def printName(firstName, lastName, initials = True):
  if initials:
    print(firstName[0] + '.' + lastName[0] + '.')
  else:
    print(firstName, lastName)

In [ ]:
printName(lastName='Sachin', firstName='Tendulkar')
printName(lastName=[1, 2,3], firstName=(0, 2, 3), initials=False)

T.S.
(0, 2, 3) [1, 2, 3]

In [ ]:
# print only initials
printName('Sachin', 'Tendulkar', True)

print('Sachin', end='_#_')
print('Tendulkar')

S.T.
Sachin_#_Tendulkar

#Scope of Variables

In [ ]:
# scope of a variable

x = 5

def return_num(number):
  print('number =', number)
  print('x =', x)
  return number

print(x)
return_num(4)
print(number)

5
number = 4
x = 5

NameError: ignored

In [ ]:
def maximum(a, b):
  if a > b:
    return a
  else:
    return b
def minimum(a, b):
  if a < b:
    return a
  else:
    return b
x = -1
x = maximum(3 + 6, 4)
y = minimum(x, 9 - 4)
print(x, y)

9 5

#Global Variables

In [ ]:
# global variable

PI = 3.14
def perimeter(r):
  return 2*PI*r

def area(r):
  return PI*r*r

def update_pi(newpi):
  global PI
  PI = newpi

print(area(100))
print(perimeter(10))
update_pi(22/7)
print(area(100))
print(perimeter(10))
print(PI)

31400.0
62.800000000000004
31428.571428571428
62.857142857142854
3.142857142857143

In [ ]:
# if global is not used
PI = 3.14
def perimeter(r):
  return 2*PI*r

def area(r):
  return PI*r*r

def update_pi():
  global PI
  PI = 3.14159
  print('Local PI', PI)

print(area(100))
print(perimeter(10))
update_pi()
print(area(100))
print(perimeter(10))
print('Global PI', PI)

31400.0
62.800000000000004
Local PI 3.14159
31415.899999999998
62.8318
Global PI 3.14159