## Mutable vs Unmutable

In [ ]:
s = [1,2,3,4]
t = s
t.append(5)
print(t)

In [ ]:
print(s)

In [ ]:
s = [1,2,3,4]
t = s[:]
t.append(5)
print(t)

In [ ]:
print(s)

In [ ]:
indoor = ['badminton', 'table-tennis', 'carrom']
outdoor = ['football', 'cricket']

# create a tuple using above two lists
games = (indoor, outdoor)

print(games)

In [ ]:
# lets create another lists for card games

cards = ['solitaire', 'hearts', 'freecell']

In [ ]:
# print first element in a tuple
games[0]

In [ ]:
# lets try to replace it with cards

games[0] = cards

# Should get an error!! tuple is not mutable!

In [ ]:
# create another tuple games1 with all three lists as tuple elements

games1 = (['badminton', 'table-tennis', 'carrom'], ['football', 'cricket'], 
          ['solitaire', 'hearts', 'freecell'])
print(games1)

In [ ]:
games1[:2] == games

In [ ]:
# try to change first element in outdoor list
outdoor[0] = 'hockey' # lists are mutable
print(outdoor)

In [ ]:
games

In [ ]:
# has the tuple modified?

games1[:2] == games

In [ ]:
#Is it correct? Earlier we said that tuples are not mutable and now we are 
#modifying it.

In [ ]:
# lets try to fix this

games1[1][0] = 'hockey'
games1[:2] == games

In [ ]:
print(games1)

## More List Operations

In [ ]:
marks = [9, 3, 4.4, 8, 8.7, 1, 0, 7.8, 3.5, 7.9, 3.94, 6.2, 10, 8.33, 5, 5.88, 9.21]

In [ ]:
# has anyone got 3.94 marks?

3.94 in marks

In [ ]:
# has anyone got 3.54 marks?

3.54 in marks

In [ ]:
# for ... in construct to iterate over the list

for m in marks:
  print(2*m)

## List Comprehension

In [ ]:
# Create a list of squares of first n numbers
n = 5
squares = [1, 4, 9, 16, 25]
squares

In [ ]:
# Create a list of squares of first n numbers
# n = 50
# squares = [1, 4, 9, 16, 25,..........]
# lets use list comprehension

squares = [x * x for x in range(1, 51)]
squares

In [ ]:
nums = [-1, 25, 9, -30, 5]

pos = [x for x in nums if x > 0]
print(pos)

sqneg = [x * x for x in nums if x < 0]
print(sqneg)

abspairs = [(x, abs(x)) for x in nums]
print(abspairs)

In [ ]:
# add a pair (x, y) in a list if for x in list1 its square y is present in list2

new_list = []
for x in [1, 2, 3]:
  for y in [12, 9, 27, 4, 50]:
    if x * x == y:
      new_list.append((x, y))
print(new_list)

In [ ]:
# using list comprehension

new_list_c = [(x, y) for x in [1,2,3] for y in [12,9,27,4,50] if x*x == y]
print(new_list_c)

#Set

In [ ]:
r = set('Programming')
print('The set r when printed: {}, Has length {}.'.format(r, len(r)))
print(r)
r

### Avoid C style iteration. Why?

In [ ]:
rl = tuple('Progr')

for i in range(len(rl)): # for (i=0; i< len; i++) print(r[i])
    print(rl[i])

In [ ]:
for e in rl:
    print(e)

## Mixing Types in a Set

In [ ]:
r = set(('ab', 123.0, 123, 3.14, '123', 1.11, '123', 'ab'))
print(r)

In [ ]:
print(print(r))

## Set comprehension

In [ ]:
lwd = [x*x for x in range(-20,21) if x%2==0]
evensq = set(lwd)
levensq = sorted(list(evensq))
print(sorted((1, 19, -34, 26,2), reverse=True))

print(lwd, evensq, levensq, sep='\n')

#Dictionaries

In [ ]:
capital = {'India': 'New Delhi', 'France':'Paris', 'Sri Lanka':'Colombo' }
newcaps = {'USA': 'Washington DC', 'Italy' : 'Rome'}

print(capital)
print(type(capital))

In [ ]:
print(capital['India'])

In [ ]:
# Uncomment the next line to see KeyError
print(capital['UK'])

In [ ]:
capital.get('UK', 'I am not sure')

In [ ]:
capital.get('France', 'Unknown')

In [ ]:
print('Keys: ', capital.keys())
print('Values: ', capital.values())
print('New Delhi' in capital.values())

In [ ]:
print(capital.items())

In [ ]:
print(capital)
print(newcaps)

In [ ]:
print(capital.get('USA', 'I donot know'))
capital.update(newcaps)
print(capital)
print(capital.get('USA', 'I donot know'))

In [ ]:
print(newcaps)

In [ ]:
capital.get()

In [ ]:
help(dict)

## Dictionary Comprehension

In [ ]:
dsq = {x:x*x for x in range(-3,4)}
dcu = {x:x*x*x for x in range(-2,3)}
print(dsq)
print(dcu)

In [ ]:
dsq.update(dcu)
print(dsq)

In [ ]:
dcu.update(dsq)
print(dcu)

In [ ]:
print(-1 // 2)